/*  blog  */
#blog{
  padding-bottom: 70px;
  padding-top: 70px;
}
#blog-title{
  font-size: 50px;
  font-weight: bolder;

}
#blog-p{
  font-size: 20px;
  margin-bottom: 70px;
}
.article-detail{
  padding: 15px;
  border: 1px solid rgb(185, 185, 185);
  border-top:0 ;
}
.article-date, .article-link{
  color: #00bec9;
}