/* navbar  */
#top_nav{
  background-color: #daac00 ;
  padding: 0 8%;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding-left: 25px;
}
#searchbox::placeholder{
  color: white;
}
#searchbox{
  background-color: #fcc302;
  color: white;
  border: 0px;
  border-radius: 0;
  position: relative;
  left: 47px;
  box-shadow: 5px 10px 11px 0px #00000021;
}
#searchbtn{
  position: relative;
  z-index: 99;
  background-color: #00bec9;
  color: white;
  border: 0;
  border-radius: 0;
}